/* =====================
   AREA PEMBAYARAN (GARIS HITAM)
===================== */
.payment-section {
  width: 100%;
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid #eee; /* pemisah dari header */
}

/* JUDUL PEMBAYARAN */
.payment-info {
  margin-bottom: 16px;
}

/* INPUT */
.payment-section input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
}

/* BUTTON BAYAR */
.btn-pay {
  width: 100%;
  height: 48px;
  background: #ff2d20;
  border: none;
  font-weight: 600;
}
/* ICON + NAMA LAYANAN */
.payment-service-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
